main {
  position: relative;
  height: 120%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}
.show-form {
  width: 160px;
  border-radius: 5px;
  height: 55px;
  font-size: 1rem;
  display: flex;

  color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #1ec9b7;

  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.show-form:hover {
  background-color: #09af9f;
}
section {
  display: flex;
  justify-content: space-around;

  border-radius: 5px;
  background-color: white;
  width: 70%;

  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

mat-icon {
  position: absolute;
  left: 2rem;
  font-size: 48px;
  height: 100%;
  width: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.list-section {
  display: flex;
  flex-direction: column;
  width: 91%;
  padding: 20px;
  gap: 20px;
}
.filter {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 50px;
  max-height: 600px;
  overflow-y: scroll;
}
.table-and-filter {
  display: flex;

  position: relative;

  gap: 20px;
}
.fillter-btn {
  width: 200px;
  border-radius: 5px;
  height: 55px;
  font-size: 1rem;
  display: flex;
  background-color: rgb(255, 153, 0);
  color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  text-align: center;

  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.search-new-btn-div {
  display: flex;
  justify-content: space-between;
}

.search-input-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBtn {
  height: 3.3rem;
  margin-bottom: 1.2rem;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #09af9f;
  color: white;
  padding-right: 7px;
  padding-left: 7px;
  border-top-right-radius: 5px;
}

.searchBtn:hover {
  background-color: #08beac;
}
