<main>
  <!-- <app-loading></app-loading> -->
  <section *ngIf="showBannerForm">
    <app-banner-form></app-banner-form>
    <app-banner-creator></app-banner-creator>
  </section>
  <div class="table-and-filter">
    <div class="filter">
      <div (click)="hanndleQueryRequest()" class="fillter-btn">
        Filter
      </div>
      <app-select-field
        [labels]="selectedIncludedLabels"
        [refrenceLabels]="refrenceLabels"
        [label]="'Include'"
        (labelSelect)="handleLabelSelectInclude($event)"
        (removeLabel)="handleLabelRemoveInclude($event)"
      ></app-select-field>
      <!-- <app-select-field
        [labels]="selectedIncludedLabels"
        [refrenceLabels]="refrenceLabels"
        [label]="'Include'"
        (labelSelect)="handleLabelSelectInclude($event)"
        (removeLabel)="handleLabelRemoveInclude($event)"
      ></app-select-field> -->
    </div>
    <section class="list-section">
      <div *ngIf="!showBannerForm" class="show-form" (click)="toggleShow()">
        Add banner(+)
      </div>

      <app-banner-list></app-banner-list>
    </section>
  </div>
</main>
