<nav>
  <mat-toolbar color="primary">
    <mat-icon
      style="
        font-size: 48px;
        height: 100%;
        width: 49px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      "
    >
      home
    </mat-icon>
    <mat-icon
      style="
        font-size: 48px;
        height: 100%;
        width: 49px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      "
    >
      account_circle
    </mat-icon>
  </mat-toolbar>
</nav>
