.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.521);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  backdrop-filter: blur(10px);
  border-radius: 9px;
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
  user-select: none;
}

section.section-zone {
  position: relative;
  max-width: 90%;
  height: auto;
  z-index: 1000;
  background-color: white;
  padding: 20px;
  border-radius: 9px;
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-content-wrapper {
  padding: 2rem;
}
.img {
  width: 500px;
  min-width: 250px;
  height: 300px;
  transition: filter 0.3s;
  cursor: pointer;
}

.image-container {
  position: relative;
  display: inline-block;
}

.hover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(
    255,
    255,
    255,
    0.7
  ); /* Background color with some transparency */
  padding: 10px;
  border-radius: 5px;
  display: none; /* Initially, hide the text */
}

.image-container:hover .img {
  filter: blur(3px);
}

.image-container:hover .hover-text {
  display: block;
}
p {
  user-select: all;
  cursor: pointer;
}

.no-trigger-zone {
}

.editable-div {
  display: flex;
  flex-direction: column;
}
.editable-div strong {
  width: 100%;
  display: flex;
}
.editable-div-display {
  display: flex;
  flex-direction: row;
  background-color: #119987;
  color: white;
  padding: 2px;
}
.field-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.field-div-wrap-display {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 4px;
}
.field-div-wrap {
  display: flex;
}
.btn-wrapper {
  display: flex;
  justify-content: space-around;
  padding-bottom: 1rem;
}
.edit-button {
  background-color: #3498db;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cancel-button {
  width: 40%;

  background-color: #f04532;
  color: #ffffff;
  padding: 20px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.cancel-button:hover {
  background-color: #ff3019;
}
.save-button {
  width: 40%;
  background-color: #21bda8;
  color: #ffffff;
  padding: 20px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.save-button:hover {
  background-color: #119987;
}

.data-picker-wrapper {
  display: flex;
  flex-direction: column;
}
