<section class="main-section">
  <h1>Banner preview</h1>
  <ng-container *ngIf="imageSrc">
    <!-- Render the image when imageSrc exists -->
    <img
      style="width: 450px; height: 200px;"
      #uploadedImage
      class="uploaded-image"
      [src]="imageSrc"
      alt="Uploaded Image"
    />
  </ng-container>
  <div
    style="
      width: 450px;
      height: 200px;
      border: 1px solid black;
      display: flex;
      align-items: center;
      justify-content: center;
    "
    *ngIf="!imageSrc"
  >
    <!-- Render a div when imageSrc doesn't exist -->
    <div>No banner avalible</div>
  </div>
  <section class="sec-section">
    <!-- Display Name -->
    <div>
      <strong>Name:</strong>
      {{ formData?.name }}
    </div>
    <!-- Display Priority -->
    <div>
      <strong>Priority:</strong>
      {{ formData?.priority }}
    </div>

    <!-- Display Channel ID -->
    <div>
      <div
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 6px;
        "
      >
        <strong>Channel ID:</strong>
        <mat-icon *ngIf="formData?.channelId === 'mobile-bank-ios'">
          phone_iphone
        </mat-icon>
        <mat-icon *ngIf="formData?.channelId === 'mobile-bank-android'">
          phone_android
        </mat-icon>
        <mat-icon *ngIf="formData?.channelId === 'internet-bank'">
          laptop_chromebook
        </mat-icon>
        <span>{{ formData?.channelId }}</span>
      </div>
    </div>

    <!-- Display Language -->
    <div>
      <strong>Language:</strong>
      {{ formData?.language }}
    </div>

    <!-- Display Zone ID -->
    <div>
      <strong>Zone ID:</strong>
      {{ formData?.zoneId }}
    </div>

    <!-- Start date -->
    <div>
      <strong>Start date:</strong>
      {{ formData?.startDate }}
    </div>

    <!-- End date -->
    <div>
      <strong>End date:</strong>
      {{ formData?.endDate }}
    </div>
    <div>
      <strong>Active</strong>
      <span *ngIf="formData?.active">🟢</span>
      <span *ngIf="!formData?.active">🔴</span>
    </div>
    <div
      style="
        display: flex;
        max-height: 500px;
        max-width: 500px;
        flex-wrap: wrap;
        gap: 2px;
      "
    >
      <span class="hash-label" *ngFor="let hash of selectedLabels">
        #{{ hash }}
      </span>
    </div>
  </section>
</section>
