table {
  width: 70vw;
}

.img {
  width: 320px;
  height: 150px;
  cursor: pointer;
  transition: filter 0.1s;

  filter: blur(0);
}

.img:hover {
  filter: blur(2px);

  outline: 2px solid #09af9f;
}

.del-btn {
  color: red;
}

.open-btn {
  color: #09af9f;
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
}

.table-responsive table {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .table-responsive {
    overflow-x: scroll;
  }
}

@media screen and (max-width: 400px) {
  .table-responsive {
    overflow-x: auto;
  }
}

.save-edit-btn {
  padding: 9px;

  background-color: #09af9f;
  color: white;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 9px;
}

.save-close-btn {
  padding: 9px;
  background-color: #ff9305;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 9px;
}

.edit-div-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  background-color: aliceblue;
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 12px;
  padding: 9px;
}
.center-contents td,
.center-contents th {
  text-align: center; /* Center-align text horizontally */
  vertical-align: middle; /* Center-align text vertically */
  padding-top: 20px;
  padding-bottom: 20px;
}
.btn-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

p:hover {
  border-radius: 9px;
  cursor: pointer;
  box-shadow: 0 0 10px #09af9f;
  padding: 1px;
  transition: box-shadow 0.4s;
}

p:focus {
  outline: none;
}

p:hover:focus {
  box-shadow: 0 0 10px #09af9f;
}
