<mat-table
  mat-table
  [dataSource]="dataSource"
  class="mat-elevation-z8 table-responsive center-contents"
  fxFlex
>
  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef>No.</th>
    <td mat-cell *matCellDef="let element; let i = index" class="small-column">
      {{ i + 1 }}
    </td>
  </ng-container>
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef>Delete</th>
    <td mat-cell *matCellDef="let element">
      <button
        title="Delete "
        (click)="deleteBanner(element.id, element.fileId)"
        class="del-btn"
        mat-icon-button
      >
        <mat-icon>delete</mat-icon>
      </button>
      <button
        title="Open "
        class="open-btn"
        mat-icon-button
        (click)="toggleSingle(element.id)"
      >
        <mat-icon>fullscreen</mat-icon>
      </button>
    </td>
  </ng-container>
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td
      mat-cell
      *matCellDef="let element; let i = index"
      (dblclick)="openListItem(i, 'Name', element.id)"
    >
      {{ element.name }}

      <div
        class="edit-div-wrapper"
        *ngIf="editedRowIndex === i && editRowName === 'Name'"
      >
        <app-editable-selector-field
          [value]="element.name"
          [placeholder]="'active'"
          [isEditMode]="true"
          [isDataSelector]="'input'"
          (valueChanged)="getListItemVal($event)"
        ></app-editable-selector-field>
        <button class="save-edit-btn" (click)="saveEditedBanner('name')">
          Save
        </button>
        <button class="save-close-btn" (click)="closeListItem($event)">
          Close
        </button>
      </div>
    </td>
  </ng-container>

  <!-- Zone ID Column -->
  <ng-container matColumnDef="zoneId">
    <th mat-header-cell *matHeaderCellDef>Zone ID</th>
    <td
      (dblclick)="openListItem(i, 'Zone', element.id)"
      mat-cell
      *matCellDef="let element; let i = index"
    >
      <p>
        {{ element?.zoneId }}
      </p>
      <div
        class="edit-div-wrapper"
        *ngIf="editedRowIndex === i && editRowName === 'Zone'"
      >
        <app-editable-selector-field
          [value]="element?.zoneId"
          [placeholder]="'active'"
          [isEditMode]="true"
          [selectOptions]="refrenceZones"
          [isDataSelector]="'selector'"
          (valueChanged)="getListItemVal($event)"
        ></app-editable-selector-field>
        <button class="save-edit-btn" (click)="saveEditedBanner('zoneId')">
          Save
        </button>
        <button class="save-close-btn" (click)="closeListItem($event)">
          Close
        </button>
      </div>
    </td>
  </ng-container>

  <!-- Active Column -->
  <ng-container matColumnDef="active">
    <th mat-header-cell *matHeaderCellDef>Active</th>
    <td
      (dblclick)="openListItem(i, 'Active', element.id)"
      mat-cell
      *matCellDef="let element; let i = index"
    >
      <p>
        <span *ngIf="!element.active">🔴</span>
        <span *ngIf="element.active">🟢</span>
      </p>
      <div
        class="edit-div-wrapper"
        *ngIf="editedRowIndex === i && editRowName === 'Active'"
      >
        <app-editable-selector-field
          [value]="element.active"
          [placeholder]="'active'"
          [selectOptions]="activeRefrence"
          [isEditMode]="true"
          [isDataSelector]="'selector'"
          (valueChanged)="getListItemVal($event)"
        ></app-editable-selector-field>
        <button class="save-edit-btn" (click)="saveEditedBanner('active')">
          Save
        </button>
        <button class="save-close-btn" (click)="closeListItem($event)">
          Close
        </button>
      </div>
    </td>
  </ng-container>

  <!-- Start Date Column -->
  <ng-container matColumnDef="startDate">
    <th mat-header-cell *matHeaderCellDef>Start Date</th>
    <td
      mat-cell
      *matCellDef="let element; let i = index"
      (dblclick)="openListItem(i, 'Start Date', element.id)"
    >
      <p>
        {{ element.startDate }}
      </p>

      <div
        class="edit-div-wrapper"
        *ngIf="editedRowIndex === i && editRowName === 'Start Date'"
      >
        {{ element.startDate }}

        <app-editable-selector-field
          [value]="element.startDate"
          [placeholder]="'active'"
          [isEditMode]="true"
          [isDataSelector]="'date'"
          (valueChanged)="getListItemVal($event)"
        ></app-editable-selector-field>
        <button class="save-edit-btn" (click)="saveEditedBanner('startDate')">
          Save
        </button>
        <button class="save-close-btn" (click)="closeListItem($event)">
          Close
        </button>
      </div>
    </td>
  </ng-container>

  <!-- End Date Column -->
  <ng-container matColumnDef="endDate">
    <th mat-header-cell *matHeaderCellDef>End Date</th>
    <td
      mat-cell
      *matCellDef="let element; let i = index"
      (dblclick)="openListItem(i, 'End Date', element.id)"
    >
      <p>
        {{ element.endDate }}
      </p>
      <div
        class="edit-div-wrapper"
        *ngIf="editedRowIndex === i && editRowName === 'End Date'"
      >
        {{ element.endDate }}
        <app-editable-selector-field
          [value]="element.endDate"
          [placeholder]="'end'"
          [isEditMode]="true"
          [isDataSelector]="'date'"
          (valueChanged)="getListItemVal($event)"
        ></app-editable-selector-field>
        <button class="save-edit-btn" (click)="saveEditedBanner('endDate')">
          Save
        </button>
        <button class="save-close-btn" (click)="closeListItem($event)">
          Close
        </button>
      </div>
    </td>
  </ng-container>

  <!-- Channel ID Column -->
  <ng-container matColumnDef="channelId">
    <th mat-header-cell *matHeaderCellDef>Channel ID</th>
    <td
      mat-cell
      *matCellDef="let element; let i = index"
      (dblclick)="openListItem(i, 'Channel', element.id)"
    >
      <p>
        {{ element.channelId }}
      </p>

      <div
        class="edit-div-wrapper"
        *ngIf="editedRowIndex === i && editRowName === 'Channel'"
      >
        <app-editable-selector-field
          [value]="element.channelId"
          [placeholder]="'channelId'"
          [selectOptions]="refrenceChannels"
          [isEditMode]="true"
          [isDataSelector]="'selector'"
          (valueChanged)="getListItemVal($event)"
        ></app-editable-selector-field>
        <button class="save-edit-btn" (click)="saveEditedBanner('channelId')">
          Save
        </button>
        <button class="save-close-btn" (click)="closeListItem($event)">
          Close
        </button>
      </div>
    </td>
  </ng-container>

  <!-- Labels Column -->
  <ng-container matColumnDef="labels">
    <th mat-header-cell *matHeaderCellDef>Labels</th>
    <td
      mat-cell
      *matCellDef="let element; let i = index"
      (dblclick)="labels($event, element?.labels, i, 'Labels', element.id)"
    >
      <p>
        {{ element?.labels && element?.labels.join(', ') }}
      </p>
      <div
        class="edit-div-wrapper"
        *ngIf="editedRowIndex === i && editRowName === 'Labels'"
      >
        <app-select-field
          [labels]="labelDefault"
          [refrenceLabels]="refrenceLabels"
          [isFilter]="false"
          [label]="'Labels'"
          (labelSelect)="labelAdd($event)"
          (removeLabel)="labelRemove($event)"
        ></app-select-field>
        <button class="save-edit-btn" (click)="saveEditedBanner('labels')">
          Save
        </button>
        <button class="save-close-btn" (click)="closeListItem($event)">
          Close
        </button>
      </div>
    </td>
  </ng-container>

  <!-- File ID Column -->
  <ng-container matColumnDef="fileId">
    <th mat-header-cell *matHeaderCellDef>Photo</th>
    <td mat-cell *matCellDef="let element" (click)="toggleSingle(element.id)">
      <img class="img" [src]="baseUrl + 'blob/' + element.fileId" alt="Image" />
    </td>
  </ng-container>

  <!-- URL Column -->
  <ng-container matColumnDef="url">
    <th mat-header-cell *matHeaderCellDef>URL</th>
    <td
      *matCellDef="let element; let i = index"
      (dblclick)="openListItem(i, 'URL', element.id)"
    >
      <p>
        {{ element.url }}
      </p>
      <div
        style="display: flex; flex-direction: column;"
        *ngIf="editedRowIndex === i && editRowName === 'URL'"
      >
        <app-editable-selector-field
          [value]="element.url"
          [placeholder]="'URL'"
          [isEditMode]="true"
          [isDataSelector]="'input'"
          (valueChanged)="getListItemVal($event)"
        ></app-editable-selector-field>
        <button class="save-edit-btn" (click)="saveEditedBanner('url')">
          Save
        </button>
        <button class="save-close-btn" (click)="closeListItem($event)">
          Close
        </button>
      </div>
    </td>
  </ng-container>

  <!-- Language Column -->
  <ng-container matColumnDef="language">
    <th mat-header-cell *matHeaderCellDef>Language</th>
    <td
      mat-cell
      *matCellDef="let element; let i = index"
      (dblclick)="openListItem(i, 'Language', element.id)"
    >
      <p>
        {{ element.language }}
      </p>
      <div
        class="edit-div-wrapper"
        *ngIf="editedRowIndex === i && editRowName === 'Language'"
      >
        <app-editable-selector-field
          [value]="element.language"
          [placeholder]="'language'"
          [selectOptions]="refrenceLanguage"
          [isEditMode]="true"
          [isDataSelector]="'selector'"
          (valueChanged)="getListItemVal($event)"
        ></app-editable-selector-field>
        <button class="save-edit-btn" (click)="saveEditedBanner('language')">
          Save
        </button>
        <button class="save-close-btn" (click)="closeListItem($event)">
          Close
        </button>
      </div>
    </td>
  </ng-container>

  <!-- Priority Column -->
  <ng-container matColumnDef="priority">
    <th mat-header-cell *matHeaderCellDef>Priority</th>
    <td
      mat-cell
      *matCellDef="let element; let i = index"
      (dblclick)="openListItem(i, 'Priority', element.id)"
    >
      {{ element.priority }}

      <div
        class="edit-div-wrapper"
        *ngIf="editedRowIndex === i && editRowName === 'Priority'"
      >
        <app-editable-selector-field
          [isFilter]="false"
          [value]="element.priority"
          [placeholder]="element.priority"
          [selectOptions]="priorityNums"
          [isEditMode]="true"
          [isDataSelector]="'selector'"
          (valueChanged)="getListItemVal($event)"
        ></app-editable-selector-field>
        <button class="save-edit-btn" (click)="saveEditedBanner('priority')">
          Save
        </button>
        <button class="save-close-btn" (click)="closeListItem($event)">
          Close
        </button>
      </div>
    </td>
  </ng-container>

  <!-- Created At Column -->
  <ng-container matColumnDef="createdAt">
    <th mat-header-cell *matHeaderCellDef>Created At</th>
    <td mat-cell *matCellDef="let element">{{ element.createdAt }}</td>
  </ng-container>

  <!-- Modified At Column -->
  <ng-container matColumnDef="modifiedAt">
    <th mat-header-cell *matHeaderCellDef>Modified At</th>
    <td mat-cell *matCellDef="let element">{{ element.modifiedAt }}</td>
  </ng-container>

  <!-- Define the order of columns to display -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</mat-table>
<mat-paginator
  (page)="onPageChange($event)"
  [length]="pageLength"
  [pageSize]="pageSize"
  [pageSizeOptions]="[10, 20, 50]"
  aria-label="Select page"
></mat-paginator>
