table {
  width: 70vw;
}

.img {
  width: 320px;
  height: 150px;
  cursor: pointer;
  transition: filter 0.1s;

  filter: blur(0);
}

.img:hover {
  filter: blur(2px);

  outline: 2px solid #09af9f;
}

.del-btn {
  color: red;
}

.open-btn {
  color: #09af9f;
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
}

.table-responsive table {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .table-responsive {
    overflow-x: scroll;
  }
}

@media screen and (max-width: 400px) {
  .table-responsive {
    overflow-x: auto;
  }
}

.save-edit-btn {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #09af9f;
  color: white;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 9px;
  margin-bottom: 6px;
}

.save-close-btn {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #ff9305;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 9px;
}

.edit-div-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.center-contents td,
.center-contents th {
  text-align: center; /* Center-align text horizontally */
  vertical-align: middle; /* Center-align text vertically */
  padding-top: 20px;
  padding-bottom: 20px;
}
