form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  padding: 50px;
}

h1 {
  width: 100%;
  text-align: center;
  padding-top: 10px;
  font-size: 2rem;
  margin-top: 10px;
  color: rgb(116, 116, 116);
}
.drop-zone {
  border: 2px dashed #ccc;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  background-color: #f9f9f9;
  transition: background-color 0.3s;
  height: 200px;
}

.drop-zone:hover {
  background-color: #eaeaea;
}

.uploaded-image {
  max-width: 100%;
  max-height: 200px;
}

.cancel-icon {
  position: absolute;
  font-size: 2rem;
  background-color: #09af9f;
  color: white;
  border: 5px solid #09af9f;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  left: 10px;
  top: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}
.cancel-icon:hover {
  background-color: #0d8b7f;
}
.form-header {
  position: relative;
  display: flex;
  padding-bottom: 20px;
}

h1 {
  position: absolute;
  left: 20px;
}

.two-input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
