<main>
  <!-- <app-loading></app-loading> -->
  <app-loading *ngIf="loading"></app-loading>
  <app-error *ngIf="error" [childData]="error"></app-error>
  <app-succsess *ngIf="succsess" [childData]="succsess"></app-succsess>
  <!-- <section *ngIf="showBannerForm">
    <app-banner-form></app-banner-form>
    <app-banner-creator></app-banner-creator>
  </section> -->
  <div class="table-and-filter">
    <app-single-banner *ngIf="showBannerSingle"></app-single-banner>

    <div class="filter">
      <div class="select-filter-wrapper">
        <div (click)="ResetFilter()" class="fillter-btn">
          Reset Filter
        </div>
        <app-editable-selector-field
          [value]="sortDirectionValue"
          [placeholder]="'sortDirection'"
          [isEditMode]="true"
          [selectOptions]="sortDirection"
          [isDataSelector]="'selector'"
          (valueChanged)="onValueChangeAcenDece($event)"
        ></app-editable-selector-field>
        <app-editable-selector-field
          [value]="sortByValue"
          [placeholder]="'sortBy'"
          [isEditMode]="true"
          [selectOptions]="sortBy"
          [isDataSelector]="'selector'"
          (valueChanged)="onValueChangedSortBy($event)"
        ></app-editable-selector-field>
      </div>
      <app-select-field
        [isFilter]="true"
        [labels]="selectedIncludedLabels"
        [refrenceLabels]="refrenceLabels"
        [label]="'Include'"
        (labelSelect)="handleLabelSelectInclude($event)"
        (removeLabel)="handleLabelRemoveInclude($event)"
      ></app-select-field>
      <app-select-field
        [isFilter]="true"
        [labels]="selectedExcludedLables"
        [refrenceLabels]="refrenceLabels"
        [label]="'Exclude'"
        (labelSelect)="handleLabelSelectExclude($event)"
        (removeLabel)="handleLabelExcludedRemove($event)"
      ></app-select-field>
    </div>
    <section class="list-section">
      <div class="search-new-btn-div">
        <div *ngIf="!showBannerForm" class="show-form" (click)="toggleShow()">
          Add banner(+)
        </div>
        <div class="search-input-div">
          <app-form-drawer [show]="showBannerForm">
            <app-banner-form></app-banner-form>
          </app-form-drawer>

          <mat-form-field>
            <mat-label>Search...</mat-label>
            <input #myInput matInput placeholder="Ex. Banner" />
          </mat-form-field>
          <button (click)="getSearchInput()" class="searchBtn">Search</button>
        </div>
      </div>

      <app-banner-list></app-banner-list>
    </section>
  </div>
</main>
