<ng-container *ngIf="!isEditMode; else editField">
  {{ value }}
</ng-container>

<ng-template #editField>
  <ng-container *ngIf="isDataSelector === 'input'">
    <mat-form-field>
      <input
        matInput
        [placeholder]="placeholder"
        (input)="onInputChange($event)"
        [(ngModel)]="value"
        (blur)="emitValueChanged()"
      />
    </mat-form-field>
  </ng-container>
  <ng-container *ngIf="isDataSelector === 'selector'">
    <mat-form-field>
      <div class="z-index-option">
        <mat-select
          *ngIf="isFilter"
          class="z-index-option"
          [(ngModel)]="value"
          (selectionChange)="onSelectionChange($event)"
        >
          <mat-option
            class="z-index-option"
            *ngFor="let option of selectOptions"
            [value]="option.key"
          >
            {{ option.name }}
          </mat-option>
        </mat-select>
        <mat-select
          *ngIf="!isFilter"
          class="z-index-option"
          [(ngModel)]="value"
          (selectionChange)="onSelectionChange($event)"
        >
          <mat-option
            class="z-index-option"
            *ngFor="let option of selectOptions"
            [value]="option"
          >
            {{ option }}
          </mat-option>
        </mat-select>
      </div>
    </mat-form-field>
  </ng-container>
  <ng-container *ngIf="isDataSelector === 'date'">
    <mat-form-field>
      <input
        (dateInput)="onSelectionChange($event)"
        matInput
        [placeholder]="placeholder"
        [matDatepicker]="endDatePicker"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="endDatePicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #endDatePicker></mat-datepicker>
    </mat-form-field>
  </ng-container>
</ng-template>
