table {
  width: 70vw;
}

.img {
  width: 320px;
  height: 150px;
  cursor: pointer;
  transition: filter 0.1s;

  filter: blur(0);
}

.img:hover {
  filter: blur(2px);

  outline: 2px solid #09af9f;
}

.del-btn {
  color: red;
}

.open-btn {
  color: #09af9f;
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
}

.table-responsive table {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .table-responsive {
    overflow-x: scroll;
  }
}

@media screen and (max-width: 400px) {
  .table-responsive {
    overflow-x: auto;
  }
}
