<mat-table
  mat-table
  [dataSource]="dataSource"
  class="mat-elevation-z8 table-responsive"
  fxFlex
>
  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef>No.</th>
    <td mat-cell *matCellDef="let element; let i = index" class="small-column">
      {{ i + 1 }}
    </td>
  </ng-container>
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef>Delete</th>
    <td mat-cell *matCellDef="let element">
      <button
        title="Delete "
        (click)="deleteBanner(element.id, element.fileId)"
        class="del-btn"
        mat-icon-button
      >
        <mat-icon>delete</mat-icon>
      </button>
      <button
        title="Open "
        class="open-btn"
        mat-icon-button
        (click)="toggleSingle(element.id)"
      >
        <mat-icon>fullscreen</mat-icon>
      </button>
    </td>
  </ng-container>
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <!-- Zone ID Column -->
  <ng-container matColumnDef="zoneId">
    <th mat-header-cell *matHeaderCellDef>Zone ID</th>
    <td mat-cell *matCellDef="let element">{{ element?.zoneId }}</td>
  </ng-container>

  <!-- Active Column -->
  <ng-container matColumnDef="active">
    <th mat-header-cell *matHeaderCellDef>Active</th>
    <td mat-cell *matCellDef="let element">
      <span *ngIf="!element.active">🔴</span>
      <span *ngIf="element.active">🟢</span>
    </td>
  </ng-container>

  <!-- Start Date Column -->
  <ng-container matColumnDef="startDate">
    <th mat-header-cell *matHeaderCellDef>Start Date</th>
    <td mat-cell *matCellDef="let element">{{ element.startDate }}</td>
  </ng-container>

  <!-- End Date Column -->
  <ng-container matColumnDef="endDate">
    <th mat-header-cell *matHeaderCellDef>End Date</th>
    <td mat-cell *matCellDef="let element">{{ element.endDate }}</td>
  </ng-container>

  <!-- Channel ID Column -->
  <ng-container matColumnDef="channelId">
    <th mat-header-cell *matHeaderCellDef>Channel ID</th>
    <td mat-cell *matCellDef="let element">{{ element.channelId }}</td>
  </ng-container>

  <!-- Labels Column -->
  <ng-container matColumnDef="labels">
    <th mat-header-cell *matHeaderCellDef>Labels</th>
    <td mat-cell *matCellDef="let element">
      {{ element?.labels && element?.labels.join(', ') }}
    </td>
  </ng-container>

  <!-- File ID Column -->
  <ng-container matColumnDef="fileId">
    <th mat-header-cell *matHeaderCellDef>Photo</th>
    <td mat-cell *matCellDef="let element" (click)="toggleSingle(element.id)">
      <img class="img" [src]="baseUrl + 'blob/' + element.fileId" alt="Image" />
    </td>
  </ng-container>

  <!-- URL Column -->
  <ng-container matColumnDef="url">
    <th mat-header-cell *matHeaderCellDef>URL</th>
    <td mat-cell *matCellDef="let element">{{ element.url }}</td>
  </ng-container>

  <!-- Language Column -->
  <ng-container matColumnDef="language">
    <th mat-header-cell *matHeaderCellDef>Language</th>
    <td mat-cell *matCellDef="let element">{{ element.language }}</td>
  </ng-container>

  <!-- Priority Column -->
  <ng-container matColumnDef="priority">
    <th mat-header-cell *matHeaderCellDef>Priority</th>
    <td mat-cell *matCellDef="let element">{{ element.priority }}</td>
  </ng-container>

  <!-- Created At Column -->
  <ng-container matColumnDef="createdAt">
    <th mat-header-cell *matHeaderCellDef>Created At</th>
    <td mat-cell *matCellDef="let element">{{ element.createdAt }}</td>
  </ng-container>

  <!-- Modified At Column -->
  <ng-container matColumnDef="modifiedAt">
    <th mat-header-cell *matHeaderCellDef>Modified At</th>
    <td mat-cell *matCellDef="let element">{{ element.modifiedAt }}</td>
  </ng-container>

  <!-- Define the order of columns to display -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</mat-table>
<mat-paginator
  (page)="onPageChange($event)"
  [length]="pageLength"
  [pageSize]="pageSize"
  [pageSizeOptions]="[10, 20, 50]"
  aria-label="Select page"
></mat-paginator>
