mat-toolbar {
  display: flex;
  justify-content: end;
  gap: 20px;
  padding-right: 40px;

  background-color: #09af9f;
  height: 110px;
  border-radius: 20px;
  box-shadow: 5px 9px 7px -5px rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: 5px 9px 7px -5px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 5px 9px 7px -5px rgba(0, 0, 0, 0.65);
}

nav {
  padding: 10px;
  display: flex;
}
